
@font-face {
    font-family: "arial-regular";
    src: url("fonts/arial.ttf")
}

@font-face {
    font-family: "arial-bold";
    src: url("fonts/arialbd.ttf")
}

@font-face {
    font-family: "MYRIADPRO-REGULAR";
    src: url("fonts/MYRIADPRO-REGULAR.OTF")
}

html {
    height: auto;
    margin: 0px auto;
    background-color: #E2E3E6;
    font-size: 14px;
    line-height: 1.2;
}

.container {
    max-width: 980px;
    height: auto;
    margin: 0px auto;
}

.header {
    height: 72px;
    background: rgb(57, 61, 72);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(57, 61, 72, 1)), to(rgba(39, 44, 51, 1)));
    background: -o-linear-gradient(bottom, rgba(57, 61, 72, 1) 0%, rgba(39, 44, 51, 1) 100%);
    background: linear-gradient(0deg, rgba(57, 61, 72, 1) 0%, rgba(39, 44, 51, 1) 100%);
}

@keyframes loader {
    0% {transform:rotate(-45deg)}
    50%{transform:rotate(-135deg)}
    100%{transform:rotate(-225deg)}}
  @keyframes span-1 {
    0% {transform:translate(0);}
    50%{transform:translate(-20px, 0);border-color:#EE4D68}
    100%{transform:translate(0);}}
  @keyframes span-2 {
    0%{transform:translate(0);}
    50%{transform:translate(20px, 0);border-color:#875678}
    100%{transform:translate(0);}}
  @keyframes span-3 {
    0%{transform:translate(0);}
    50%{transform:translate(0, -20px);border-color:#FF9900}
    100%{transform:translate(0);}}
  @keyframes span-4 {
    0%{transform:translate(0);}
    50%{transform:translate(0, 20px);border-color:#00E4F6}
    100%{transform:translate(0);}}
  .loader {
    width: 10px;
    height: 10px;
    position: flex;
    animation: loader 3s infinite ease-in-out;
    margin-top: 2.5rem;
  }
  .loader span {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid #95161F;
  }
  .loader span:nth-child(1) {
    animation: span-1 3s ease-in-out infinite;
  }
  .loader span:nth-child(2) {
    animation: span-2 3s ease-in-out infinite;
  }
  .loader span:nth-child(3) {
    animation: span-3 3s ease-in-out infinite;
  }
  .loader span:nth-child(4) {
    animation: span-4 3s ease-in-out infinite;
  }

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_logo {
    margin-top: 1.71rem;
} 

.header_logo a {
    font-family: "arial-bold";
    line-height: 0.5;
    text-decoration: none;
    color: #a5adb8;
    display: block;
    padding-left: 9px;
}

.header_logo a::first-letter {
    color: #ae4b5d;
}

.header_logo p {
    font-family: "arial-bold";
    padding-left: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.86rem;
    line-height: 1.17;
    color: #656F7A;
    margin-top: 4px;
    letter-spacing: 0.002rem;
}

.header_search {
    margin-top: 18px;
    margin-right: 8px;
}
.header_search input {
    max-width: 198px;
    min-width: 198px;
    height: 34px;
    background-color: #24272D;
    border: 1px solid #875F66;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 1px;
}

.input_field {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    color: #5B636E;
}

.header_search button {
    max-width: 36px;
    min-width: 36px;
    height: 34px;
    background-color: #AE4B5D;
    margin-left: 7px;
    border-radius: 5px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.header_search button:hover {
    cursor: pointer;
    background-color: #ffffff;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.header_search i {
    color: #ffffff;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.header_search button:hover i {
    color: #AE4B5D;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.bunner {
    position: relative;
}

.bunner-text {
    position: absolute;
    top: 3.45rem;
    left: 2.64rem;
    max-width: 50%;
}

.bunner-text_title {
    font-family: "arial-bold";
    font-style: normal;
    font-weight: bold;
    font-size: 2.14rem;
    line-height: 0.5;
    display: block;
    color: #a5adb8;
    margin-bottom: 0.79rem;
}

.bunner-text_title::first-letter {
    color: #ae4b5d;
}

.bunner-text_decription {
    font-family: "arial-bold";
    font-style: normal;
    font-weight: bold;
    font-size: 1.29rem;
    line-height: 0.78;
    color: #2e3136;
    margin-bottom: 1.5rem;
}

.bunner-text_title2 {
    font-family: "arial-bold";
    font-style: normal;
    font-size: 1.29rem;
    line-height: 0.78;
    color: #A5ADB8;
}

.bunner-text_description2 {
    font-family: "arial-regular";
    font-style: normal;
    font-size: 1rem;
    line-height: 1.285;
    color: #D9DCDF;
    margin-top: 8px;
    letter-spacing: 0.0045em;
}

.main_nav {
    background-color: #95161F;
    height: 2.57rem;
    padding: 8px 11px;
}

.main_nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style-type: none;
}

.main_nav li a {
    font-family: "arial-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 1.14rem;
    line-height: 1.2;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 2rem;
    text-decoration: none;
    padding: 3px 10px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    letter-spacing: 0.01em;
}

.main_nav li a:hover {
    color: #95161F;
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.breadcrumbs {
    background-color: #F3F3F3;
    height: 1.86rem;
} 

.breadcrumbs-list {
    padding-left: 1.79rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

.breadcrumbs-link {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.79rem;
    line-height: 2.18;
    color: #95161F;
    letter-spacing: -0.06em;
    margin-left: -2px;
    text-decoration: none;
    border-bottom: 1px solid #95161F;
    max-width: 2rem;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -ms-flex-line-pack: center;
    align-content: center;
}

.breadcrumbs-link:hover {
    color: #984c5c;
    border-bottom: dotted 1px #984c5c;
    max-width: 2rem;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}


.breadcrumbs-item:not(:last-child)::after {
    content: ' /';
    margin-right: 6px;
    text-decoration: none;
    color: #6B6F74;
    border: none;
}

.breadcrumbs-text {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.79rem;
    line-height: 2.18;
    color: #6B6F74;
    letter-spacing: -0.015em;
    margin-left: -5px;
}

.main_content {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main_content aside {
    margin: 1.36rem 1.43rem 1.36rem 1.57rem;
    max-width: 214px;
    min-width: 214px;
}

.aside-form {
    height: 410px;
    background-color: #F3F3F3;
    border: 1px solid #D8DBDE;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem 0.86rem;
    margin-bottom: 1.64rem;
}

.aside_title {
    font-family: "arial-bold";
    font-style: normal;
    font-weight: bold;
    font-size: 1.29rem;
    line-height: 1.2;
    color: #282D33;
    letter-spacing: 0.01em;
    margin-bottom: 1rem;
}

.contact-us input {
    max-width: 186px;
    min-width: 186px;
    height: 32px;
    background-color: #E3E4E5;
    border: 1px solid #FFFCFC;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    display: block;
    border-radius: 5px;
    margin-bottom: 1.07rem;
}

.contact-us input::-moz-placeholder {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    color: #757575;
    padding-left: 9px;
    padding-top: 3px;
    letter-spacing: -0.01em;
}

.contact-us input::-webkit-input-placeholder {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    color: #757575;
    padding-left: 9px;
    padding-top: 3px;
    letter-spacing: -0.01em;
}

.select-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-wrap::before {
    font-family: FontAwesome;
    content: "\f0d7";
    color: #757575;
    font-size: 1.4rem;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-us_select-text {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    color: #757575;
    padding-left: 8px;
}

.contact-us select {
    max-width: 186px;
    min-width: 186px;
    height: 32px;
    background-color: #E3E4E5;
    border: 1px solid #A2A2A2;
    display: block;
    border-radius: 5px;
    margin-bottom: 14px;
}

.contact-us_button-text {
    font-family: "arial-regular";
    font-size: 1.14rem;
    line-height: 1.2;
    color: #F1F1F1;
    text-align: left;
    padding-left: 18px;
    text-shadow: 0px 1px 0px #000000;
}

.contact-us button {
    max-width: 186px;
    min-width: 186px;
    height: 46px;
    background-color: #A82029;
    border: 5px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
    margin-top: 3px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.contact-us button:hover {
    background-color: #FFFFFF;
    border: 5px solid #A82029;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.contact-us button:hover.contact-us_button-text {
    color: #A82029;
    text-shadow: none;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.aside_article-title {
    font-family: "arial-bold";
    font-size: 1.29rem;
    line-height: 1.2;
    color: #282D33;
    margin-bottom: 5px;
}

.aside_article-text {
    font-family: "arial-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.86rem;
    line-height: 1.67;
    color: #5C646E;
    letter-spacing: 0.018em;
    margin-bottom: 4px;
}

.aside_article-link {
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.67;
    color: #95161F;
    margin-left: 1px;
    text-decoration: none;
    border-bottom: 1px solid #95161F;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.aside_article-link:hover {
    color: #984c5c;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-bottom: dotted 1px #984c5c;

}

.main_content main {
    width: calc(100% - 260px);
    height: auto;
    vertical-align: top;
}

.main_info {
    margin: 1.14rem 1rem 1rem 0.14rem;
}

.main_info h2 {
    font-family: "arial-bold";
    font-size: 1.71rem;
    line-height: 1.2;
    color: #a5adb8;
    display: block;
    margin-bottom: 7px;
}

.main_info h2::first-letter {
    color: #ae4b5d;
}

.main_info p {
    font-family: "MYRIADPRO-REGULAR";
    font-size: 1rem;
    line-height: 1.43;
    color: #5C646E;
    letter-spacing: 0.028em
}

.main_info p a {
    font-family: "MYRIADPRO-REGULAR";
    font-size: 1rem;
    line-height: 1.43;
    color: #95161F;
    letter-spacing: 0.02em;
    text-decoration: none;
    border-bottom: 1px solid #95161F;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.main_info p a:hover {
    color: #984c5c;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-bottom: dotted 1px #984c5c;
}

.main_gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main_gallery_item {
    margin-right: 13px;
}

.main_gallery_title {
    font-family: "arial-bold";
    font-size: 1.29rem;
    line-height: 1.2;
    color: #282D33;
    margin-bottom: 10px;
}

.main_gallery_jpg, .main_gallery_video {
    max-width: 196px;
    min-width: 196px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
}

.main_gallery_jpg:hover{
    transform: scale(1.5, 1.5);
    filter: blur(1px);
    filter: drop-shadow(3px 3px 10px #282D33);
}
.main_gallery_video:hover{
    transform: scale(1.5, 1.5);
    filter: drop-shadow(3px 3px 10px #282D33);
}

.Lists {
    margin-top: 1.5rem;
}

.Lists h2 {
    font-family: "arial-bold";
    font-size: 1.71rem;
    line-height: 1.2;
    color: #a5adb8;
    margin-bottom: 11px;
}

.Lists h2::first-letter {
    color: #ae4b5d;
}

.main-Lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.main-Lists_Items {
    padding-left: 10px;
    list-style-type: none;
}

.main-Lists_container-title {
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.605;
    color: #5c646e;

}

.main-Lists_Item::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #5c646e;
    display: inline-block;
    margin-right: 4px;
}

.main-Lists_Item span {
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.597;
    color: #6b6f74;
    letter-spacing: 0.0085em;
}

.main-Lists_Item-ins {
    margin-left: 1.21rem;
}

.main-Lists_Items-2 {
    padding-left: 1.14rem;
    list-style-type: none;
}

.main-Lists_container-title-2 {
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.605;
    color: #5c646e;
    padding-left: 1.17rem;
}

.main-Lists_Item-2 span {
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.6;
    color: #6b6f74;
    letter-spacing: 0.005em;
} 

.main-Lists_Item-ins-2 {
    padding-left: 10px;
    
}

.main-Lists_Item-ins-2 li::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #5c646e;
    display: inline-block;
    margin-right: 6px;
}

.main-Lists_container-title-3 {
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.605;
    color: #5c646e;
    padding-left: 1.71rem;
}

.main-Lists_Items-3 {
    padding-left: 3rem;
}

.main-Lists_text {
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.63;
    color: #6b6f74;
    letter-spacing: 0.005em;
}

.main_table {
    margin-top: 28px;
}

.main_table h2 {
    font-family: "arial-bold";
    font-size: 1.71rem;
    line-height: 1.2;
    color: #a5adb8;
    display: block;
    margin-bottom: 17px;
}

.main_table h2::first-letter {
    color: #ae4b5d;
}

.table_container {
    max-width: 695px;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 5px;
    margin-left: 2px;
    margin-bottom: 58px;
}

.thead_table-cell-1 {
    max-width: 47px;
    width: 6.76%;
    height: 33px;
    padding-left: 3px;
    padding-top: 4px;
    background-color: #9c4757;
    font-family: "arial-bold";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top-left-radius: 5px;
}

.thead_table-cell-2 {
    max-width: 127px;
    width: 18.27%;
    height: 33px;
    padding-top: 4px;
    background-color: #9C4757;
    font-family: "arial-bold";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.thead_table-cell-3 {
    max-width: 208px;
    width: 29.92%;
    height: 33px;
    padding-top: 4px;
    background-color: #9C4757;
    font-family: "arial-bold";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.thead_table-cell-4 {
    max-width: 187px;
    width: 26.91%;
    height: 33px;
    padding-top: 4px;
    background-color: #9C4757;
    font-family: "arial-bold";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.thead_table-cell-5 {
    max-width: 127px;
    width: 18.27%;
    height: 33px;
    padding-top: 4px;
    background-color: #9C4757;
    font-family: "arial-bold";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top-right-radius: 5px;
}

.h35 {
    height: 35px;
}


.tbody_table-cell-1 {
    max-width: 47px;
    width: 6.76%;
    vertical-align: middle;
    text-align: center;
    background-color: #282D33;
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.2;
    color: #a5adb8;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tbody_table-cell-1-radius {
    max-width: 47px;
    width: 6.76%;
    vertical-align: middle;
    text-align: center;
    background-color: #282D33;
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.2;
    color: #a5adb8;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
}

.tbody_table-cell-2 {
    max-width: 127px;
    width: 18.27%;
    padding-left: 12px;
    padding-top: 4px;
    background-color: #282D33;
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #a5adb8;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.03em;
}

.tbody_table-cell-3 {
    max-width: 208px;
    width: 29.92%;
    padding-left: 15px;
    padding-top: 3px;
    background-color: #282D33;
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #a5adb8;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.015em;
}

.tbody_table-cell-4 {
    max-width: 187px;
    width: 26.91%;
    padding-left: 14px;
    padding-top: 2px;
    background-color: #282D33;
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #a5adb8;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.007em;
}

.tbody_table-cell-5 {
    max-width: 127px;
    width: 18.27%;
    padding-left: 14px;
    padding-top: 5px;
    background-color: #282D33;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tbody_table-cell-5-radius {
    max-width: 127px;
    width: 18.27%;
    padding-left: 14px;
    padding-top: 5px;
    background-color: #282D33;
    border: 1px solid #d8dbde;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;

}

.tbody_table-cell-5-radius a,
.tbody_table-cell-5 a {
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.2;
    color: #D08B98;
    letter-spacing: 0.03em;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.tbody_table-cell-5-radius a:hover,
.tbody_table-cell-5 a:hover {
    color: #ffffff;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-bottom: dashed 1px #FFFFFF;
    text-decoration: none;
}

.ThL {
    border-left: none;
}

.ThR {
    border-right: none;
}

.ThT {
    border-top: none;
}

.ThB {
    border-bottom: none;
}

.footer {
    height: 238px;
    background-color: #292E33;
    border-top: 8px solid #AE4B5D;
    padding-top: 24px;
}

.footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-title_1{
    margin-left: 8px;
}

.footer-title_1 h2 {
    max-width: 270px;
    min-width: 270px;
    font-family: "arial-regular";
    font-size: 1.29rem;
    line-height: 1.7;
    color: #A5ADB8;
    border-bottom: 1px solid hsla(214, 12%, 11%, 1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 hsla(212, 10%, 28%, 1);
    box-shadow: 0 1px 0 hsla(212, 10%, 28%, 1);
    margin-bottom: 7px;
}

.footer-title_1 h2::first-letter {
    color: #AE4B5D;
}

.footer-title_1 h3 {
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.95;
    color: #85898F;
    letter-spacing: 0.02em;
    margin-bottom: 6px;
    font-weight: normal;
}

.footer-title_Items-1 {
    padding-left: 5px;
    list-style-type: none;
}

.footer-title_Item-1::before {
    content: url(../img_cherry/clock.png);
    vertical-align: middle;
    padding-right: 3px;

}

.footer-title_Item-1 span {
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.95;
    color: #85898F;
    letter-spacing: 0.005em;
}
 
.footer-title_2 {
    margin-left: 5.7rem;
}

.footer-title_2 h2 {
    max-width: 270px;
    min-width: 270px;
    border-bottom: 1px solid hsla(214, 12%, 11%, 1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 hsla(212, 10%, 28%, 1);
    box-shadow: 0 1px 0 hsla(212, 10%, 28%, 1);
    margin-bottom: 6px;
    font-family: "arial-regular";
    font-size: 1.29rem;
    line-height: 1.7;
    color: #A5ADB8;
    display: inline-block;
}

.footer-CHERRY {
    font-family: "arial-regular";
    font-size: 1.29rem;
    line-height: 1.6;
    color: #A5ADB8;
    display: inline-block;
}

.footer-CHERRY::first-letter {
    color: #AE4B5D;

}

.footer-title_Items-2 {
    padding-left: 2px;
    margin-bottom: 6px;
}

.footer-title_Item-2 {
    list-style-type: none;
}

.footer-title_Item-2::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #9c4757;
    display: inline-block;
    margin-right: 7px;
}

.footer-title_2 h3 {
    font-family: "arial-regular";
    font-size: 1rem;
    line-height: 1.2;
    color: #A5ADB8;
    letter-spacing: 0.018em;
    margin-left: 4px;
    font-weight: normal;
}

.footer-title_Item-2 span {
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 2.011;
    color: #85898F;
    letter-spacing: 0.018em;
    vertical-align: middle;
    display: inline-block;
} 

.footer-title_3 {
    margin-left: 5.29rem;
}

.footer-title_3 h2 {
    max-width: 270px;
    min-width: 270px;
    border-bottom: 1px solid hsla(214, 12%, 11%, 1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 hsla(212, 10%, 28%, 1);
    box-shadow: 0 1px 0 hsla(212, 10%, 28%, 1);
    margin-bottom: 7px;
    font-family: "arial-regular";
    font-size: 1.29rem;
    line-height: 1.7;
    color: #A5ADB8;
}

.footer-title_Item-3 span {
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 2.02;
    color: #85898F;
    letter-spacing: 0.012em;
} 

.footer-title_Items-3 {
    padding-left: 4px;
}

.footer-Lists_Item-3 {
    list-style-type: none
}

.footer-title_Item-3 a {
    font-family: "arial-regular";
    font-size: 0.86rem;
    line-height: 1.95;
    color: hsla(349, 42%, 68%, 1);
    letter-spacing: 0.005em;
    text-decoration: none;
    border-bottom: 1px solid hsla(349, 42%, 68%, 1);
}

.footer-title_Item-3 a:hover {
    color: #ffffff;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-bottom: dashed 1px #FFFFFF;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in 0s;
}
    .popup {
        top: 10%;
        left: 0;
        right: 0;       
        font-size: 14px;
        margin: auto;
        width: 80%;
        min-width: 200px;
        max-width: 600px;
        position: absolute;
        padding: 15px 20px;
        border: 1px solid #666;
        background-color: #fefefe;
        z-index: 1000;
        border-radius: 10px;
        font: 14px/18px 'Tahoma', Arial, sans-serif;
        box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
    }
    .close {
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        position: absolute;
        border: none;
        border-radius: 50%;
        background-color: #AE4B5D;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        outline: none;
    }
    .close:before {
        color: rgba(255, 255, 255, 0.9);
        content: "X";
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: normal;
        text-decoration: none;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    }
    .close:hover {
        background-color: rgba(180, 20, 14, 0.8);
    }
    #overlay .popup p.zag{
        margin:20px 0 10px;
        padding:0 0 6px;
        color:#AE4B5D;
        font-size:16px;
        font-weight:bold;
        border-bottom:1px solid #AE4B5D;
    }
    .mod_text{
        font-family: "arial-regular";
        font-size: 1.14rem;
        line-height: 1.2;
        color: #F1F1F1;
        text-align: left;
        padding-left: 18px;
        text-shadow: 0px 1px 0px #000000;
    }
    .mod{
        background-color: #AE4B5D;
        border: 2px solid #FFFFFF;
        vertical-align: middle;
        max-width: 150px;
        min-width: 150px;
        height: 25px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
        margin-top: 3px;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }
    .mod:hover {
        background-color: #FFFFFF;
        border: 5px solid #A82029;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }

    .telegram-button {
        position: fixed;
        right: 13px;
        bottom: 90px;
        transform: translate(-50%, -50%);
        background: #AE4B5D;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color: #fff;
        text-align: center;
        line-height: 23px;
        font-size: 15px; 
        z-index: 9999;
    }
    .telegram-button a {
        color: #fff;
    }
    .telegram-button:before,
    .telegram-button:after {
        content: " ";
        display: block;
        position: absolute;
        border: 50%;
        border: 1px solid #AE4B5D;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        border-radius: 50%;
        animation: animate 1.5s linear infinite;
        opacity: 0;
        backface-visibility: hidden; 
    }
     
    .telegram-button:after{
        animation-delay: .5s;
    }
     
    @keyframes animate
    {
        0%
        {
            transform: scale(0.5);
            opacity: 0;
        }
        50%
        {
            opacity: 1;
        }
        100%
        {
            transform: scale(1.2);
            opacity: 0;
        }
    }
.menu,
.main_article,
.mobile_links,
.mobile-search,
.mobile-form,
.mobile-nav {
    display: none;
}

@media only screen and (max-width : 980px) {
    .container {
        max-width: 100%;
    }

    .loader{
        display: none;
    }

    .header_logo a {
        font-size: 2.2rem;
        padding-left: 2rem;
    }

    .header_logo p {
        padding-left: 2rem;
        font-size: 1rem;
    }

    .header_search {
        margin-top: 1.5rem;
        margin-right: 1.5rem;
    }

    .header_search button {
        margin-left: 1rem;
    }

    .banner-text {
        top: 2.5rem;
        left: 2rem;
        max-width: 60%;
    }

    .main_nav {
        height: 2.6rem;
        padding: 0.5rem 1.5rem;
    }

    .main_nav li a {
        margin-left: 1.5rem;
    }

    .breadcrumbs-list {
        padding-left: 2rem;
    }

    .main-content aside {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 1.5rem;
        max-width: 20%;
        min-width: 15%;
    }

    .aside-form {
        height: auto;
        padding: 1rem;
    }

    .contact-us input,
    .contact-us select,
    .contact-us button {
        max-width: 100%;
        min-width: 100%;
    }

    .contact-us_button-text {
        font-size: 1.1rem;
        padding-left: 0;
        text-align: center;
    }

    .main-content main {
        max-width: 90%;
        -webkit-box-flex: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
    }

    .main_info {
        margin: 1.5rem 1.5rem 1.5rem 0;
    }

    .main_gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-right: 1.5rem;
    }

    .main_gallery_item {
        margin-left: 0;
        margin-right: 0;
    }

    .main_gallery_jpg,
    .main_gallery_video {
        max-width: 100%;
        min-width: 50%;
    }

    .main-Lists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-right: 1.5rem;
    }

    .main-Lists_Item span,
    .main-Lists_Item-2 span,
    .main-Lists_text {
        font-size: 0.86rem;
        line-height: 1.6;
    }

  
    .main-Lists_Items-3 {
        list-style-position: inside;
    }

    .main_table {
        margin-top: 1.5rem;
        margin-right: 1.5rem;
    }

    .main_table h2 {
        margin-bottom: 1.5rem;
    }

    .table_container {
        width: 100%;
        margin-left: 0;
        margin-bottom: 2.5rem;
    }

    .thead_table-cell-1,
    .tbody_table-cell-1,
    .tbody_table-cell-1-radius {
        width: 6.5%;
        height: auto;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .thead_table-cell-2,
    .tbody_table-cell-2 {
        width: 17%;
        height: auto;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .thead_table-cell-3,
    .tbody_table-cell-3 {
        width: 25%;
        height: auto;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .thead_table-cell-4,
    .tbody_table-cell-4 {
        width: auto;
        height: auto;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .thead_table-cell-5,
    .tbody_table-cell-5,
    .tbody_table-cell-5-radius {
        width: 18%;
        height: auto;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .h35 {
        height: auto;
    }

    .footer {
        height: auto;
        padding: 1.5rem;
    }

    .footer_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .footer-title_1,
    .footer-title_2,
    .footer-title_3 {
        margin: 0;
    }

    .footer-title_1 h2,
    .footer-title_2 h2,
    .footer-title_3 h2 {
        max-width: 100%;
        min-width: 100%;
    }

    .menu {
        display: none;
    }

}

@media only screen and (max-width : 850px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width : 768px) {
    html {
        font-size: 14px;
    }

    .container {
        max-width: 100%;
    }

    .header {
        height: 60px;
    }

    .header_logo {
        margin-top: 1.3rem;
        margin-left: 1.5rem;
    }

    .header_logo a,
    .header_logo p {
        padding-left: 0;
    }

    .bunner-text {
        position: absolute;
        top: 2rem;
        left: 1.5rem;
        max-width: 60%;
    }

    .bunner-text_description2{
        display: none;
    }

    .main_nav {
        background-color: #95161F;
        height: 35px;
        padding: 0;
    }

    .breadcrumbs {
        background-color: #F3F3F3;
        height: 2rem;
    }

    .breadcrumbs-list {
        padding-left: 1.5rem;
    }

    .breadcrumbs-link,
    .breadcrumbs-text {
        font-size: 1rem;
        line-height: 1.6;
    }

    .main_content main {
        max-width: 100%;
    }

    .main_info {
        margin: 2rem;
    }

    .main_info p,
    .main_info p a {
        font-size: 1.1rem;
    }

    .main_gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 2rem;
    }

    .main_gallery_item {
        margin: 0;
    }

    .main_gallery_jpg,
    .main_gallery_video {
        max-width: 100%;
        min-width: 50%;
    }

    .Lists {
        margin: 2rem;
    }

    .main-Lists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 2rem;
    }

    .main-Lists_container {
        padding: 0.5rem;
    }

    .main-Lists_Items {
        padding: 0;

    }

    .main_table {
        margin: 2rem;
    }

    .container_table {
        max-width: 100%;
        margin: 0;
    }

    .thead_table-cell-1,
    .tbody_table-cell-1,
    .tbody_table-cell-1-radius {
        width: 6.5%;
        height: auto;
        padding: 5px;
        vertical-align: middle;
        text-align: center;
    }

    .thead_table-cell-3,
    .tbody_table-cell-3 {
        width: 25%;
        height: auto;
        padding: 5px;
        vertical-align: middle;
        text-align: center;
    }

    .thead_table-cell-4,
    .tbody_table-cell-4 {
        width: auto;
        height: auto;
        padding: 5px;
        vertical-align: middle;
        text-align: center;
    }

    .thead_table-cell-5,
    .tbody_table-cell-5,
    .tbody_table-cell-5-radius {
        width: 20%;
        height: auto;
        padding: 5px;
        vertical-align: middle;
        text-align: center;
    }


    .h35 {
        height: auto;
    }

    .main_article {
        display: block;
        margin: 2rem;
    }

    .main_article-title {
        font-family: "arial-bold";
        font-size: 1.4rem;
        line-height: 1.2;
        color: #282D33;
        margin-bottom: 5px;
    }

    .main_article-text {
        font-family: "arial-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.4;
        color: #5C646E;
        letter-spacing: 0.018em;
        margin-bottom: 4px;
    }

    .main_article-link {
        font-family: "arial-regular";
        font-size: 1rem;
        line-height: 1.4;
        color: #95161F;
        margin-left: 1px;
        text-decoration: none;
        border-bottom: 1px solid #95161F;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }

    .footer {
        height: auto;
        padding: 0;
    }

    .footer_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 1.5rem 1.5rem 0;
        padding-bottom: 2rem;
    }

    .footer-title_1,
    .footer-title_2,
    .footer-title_3 {
        margin-left: 0;
    }

    .footer-title_1 h2,
    .footer-title_2 h2,
    .footer-title_3 h2 {
        max-width: 100%;
        min-width: 100%;
        font-size: 1.15rem;
    }

    .footer-CHERRY {
        font-size: 1.15rem;
    }

    .footer-title_1 h3,
    .footer-title_2 h3 {
        font-size: 0.8rem;
    }

    .footer-title_Item-3 a,
    .footer-title_Item-1 span,
    .footer-title_Item-2 span,
    .footer-title_Item-3 span {
        font-size: 0.75rem;
        line-height: 2.0;
        letter-spacing: -0.01em;
    }

    .header_search,
    .main_nav-container,
    .main_content aside {
        display: none;
    }

    .main_nav {
        position: relative;
    }

    .menu {
        display: block;
        position: absolute;
        top: 6px;
        right: 2rem;
        z-index: 5;
    }

    .sandw {
        width: 2.5rem;
        height: 2.5rem;
    }

    .menu .menu__span {
        height: 1px;
        border-top: 3px solid #ffffff;
        position: relative;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }

    .menu .span1 {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .menu .span2 {
        top: 12px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .menu.active .span1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 11px;
    }

    .menu.active .span2 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 5px;
    }

    .menu.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu.active+ul {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background-color: #95161F;
        z-index: 4;
        top: 35px;
        left: 0;
        width: 100%;
    }

    .mobile_links-1 {
        width: 80%;
    }

    .mobile-form {
        width: 100%;
        display: block;
        height: auto;
        background-color: #F3F3F3;
        border: 1px solid #D8DBDE;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1rem;
    }

    .mobile_title {
        font-family: "arial-bold";
        font-style: normal;
        font-weight: normal;
        font-size: 1.29rem;
        line-height: 1.2;
        color: #282D33;
        letter-spacing: 0.01em;
        margin-bottom: 1rem;
    }

    .mobile-contact-us input {
        max-width: 100%;
        height: 32px;
        background-color: #E3E4E5;
        border: 1px solid #FFFCFC;
        -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
        display: block;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    .mobile-contact-us input::-moz-placeholder {
        font-family: "arial-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2;
        color: #757575;
        padding-left: 9px;
        padding-top: 3px;
    }

    .mobile-contact-us input::-webkit-input-placeholder {
        font-family: "arial-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2;
        color: #757575;
        padding-left: 9px;
        padding-top: 3px;
    }

    .mobile-select-wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .mobile-select-wrap::before {
        font-family: FontAwesome;
        content: "\f0d7";
        color: #757575;
        font-size: 1.4rem;
        position: absolute;
        right: 8px;
        top: 4px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mobile-contact-us_select-text {
        font-family: "arial-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2;
        color: #757575;
        padding-left: 8px;
    }

    .mobile-contact-us select {
        max-width: 100%;
        height: 32px;
        background-color: #E3E4E5;
        border: 1px solid #A2A2A2;
        display: block;
        border-radius: 5px;
        margin-bottom: 14px;
    }

    .mobile-contact-us_button-text {
        font-family: "arial-regular";
        font-size: 1.14rem;
        line-height: 1.2;
        color: #F1F1F1;
        text-align: left;
        padding-left: 0;
        text-shadow: 0px 1px 0px #000000;
        text-align: center;
    }

    .mobile-contact-us button {
        max-width: 100%;
        min-width: 100%;
        height: 46px;
        background-color: #A82029;
        border: 5px solid #FFFFFF;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
        margin-top: 3px;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }

    .mobile-search {
        display: block;
        margin-bottom: 1rem;

    }

    .mobile-search input {
        width: 90%;
        height: 35px;
        background-color: #24272d82;
        border: 1px solid #ffffff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding-left: 8px;
        padding-top: 1px;
    }

    .mobile-input_field {
        font-family: "arial-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left;
        color: #5B636E;
    }

    .mobile-search button {
        max-width: 36px;
        min-width: 36px;
        height: 35px;
        background-color: #AE4B5D;
        border: 1px solid #ffffff;
        margin-left: 7px;
        border-radius: 5px;
    }

    .mobile-search i {
        color: #ffffff;
    }

    .mobile-nav {
        display: block;
        margin: 3rem 1rem;
    }

    .main_nav li {
        margin: 1rem;
        padding: 0;
    }

    .main_nav li a {
        font-family: "arial-bold";
        font-style: normal;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 35px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        color: #FFFFFF;
        margin: 0;
        text-decoration: none;
        letter-spacing: 0.02em;
    }

}

@media only screen and (max-width : 650px) {
    html {
        font-size: 12px;
    }

    .mobile-search input {
        width: 85%;
    }
}

@media only screen and (max-width : 550px) {
    html {
        font-size: 10px;
    }

    .mobile-search input {
        width: 80%;
    }
}

@media only screen and (max-width : 480px) {
    html {
        font-size: 14px;
    }

    .container {
        max-width: 100%;
    }

    .header {
        width: 100%;
        height: auto;
    }

    .header_logo {
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .header_logo a {
        font-family: "arial-bold";
        font-size: 2rem;
        line-height: 0.7;
        padding-left: 0;
    }

    .header_logo p {
        padding-left: 0;
        font-size: 0.9rem;
        margin-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    .banner-text {
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        max-width: 85%;
    }

    .banner-text_title {
        font-size: 2rem;
        margin-bottom: 0.6rem;
    }

    .banner-text_description {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .banner-text_title2 {
        font-size: 1.2rem;
        margin-left: 0;
        margin-bottom: 0.6rem;
    }

    .banner-text_description2 {
        font-size: 0.86rem;
        margin: 0;
    }

    .main_nav {
        background-color: #95161F;
        height: 35px;
        padding: 0;
        text-align: center;
    }

    .breadcrumbs {
        background-color: #F3F3F3;
        height: 2rem;
    }

    .breadcrumbs-list {
        padding-left: 2rem;
    }

    .breadcrumbs-link,
    .breadcrumbs-text {
        font-size: 0.86rem;
        line-height: 2;
    }

    .main_content {
        background-color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .main_content main {
        width: 100%;
    }

    .main_info {
        margin: 1rem 2rem;
    }

    .main_info h2 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .main_info p,
    .main_info p a {
        font-size: 1rem;
        line-height: 1.3;
    }

    .main_gallery {
        display: block;
    }

    .main_gallery_item {
        margin: 0;
    }

    .main_gallery_title {
        font-size: 1.3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .main_gallery_jpg,
    .main_gallery_video {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 1rem;
    }

    .Lists h2 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .main-Lists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
    }

    .main-Lists_container {
        max-width: 80%;
        margin: 0 auto;
    }

    .main-Lists_container-title,
    .main-Lists_container-title-2,
    .main-Lists_container-title-3 {
        font-size: 1.3rem;
        color: #5c646e;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .main-Lists_Item span,
    .main-Lists_Item-2 span,
    .main-Lists_text {
        font-size: 1.1rem;
        line-height: 1.6;
        letter-spacing: 0.03em;
    }

    .main-Lists_Items,
    .main-Lists-Items-2,
    .main-Lists_Items-3 {
        padding-left: 0;
    }

    .main-Lists_Item::before {
        height: 6px;
        width: 6px;
        margin-right: 0.7rem;
    }

    .main-Lists_Items-ins,
    .main-Lists_Items-ins-2 {
        margin-left: 1.3rem;
    }

    .main-Lists_Items-ins-2 li::before {
        height: 6px;
        width: 6px;
        margin-right: 0.7rem;
    }

    .main_table h2 {
        font-family: "arial-bold";
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .table_container {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }

    .thead_table-cell-1,
    .tbody_table-cell-1,
    .tbody_table-cell-1-radius {
        width: 6.5%;
        height: auto;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }

    .thead_table-cell-2,
    .tbody_table-cell-2 {
        width: 18%;
        height: auto;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }

    .thead_table-cell-3,
    .tbody_table-cell-3 {
        width: 20%;
        height: auto;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }

    .thead_table-cell-4,
    .tbody_table-cell-4 {
        width: auto;
        height: auto;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }

    .thead_table-cell-5,
    .tbody_table-cell-5,
    .tbody_table-cell-5-radius {
        width: 25%;
        height: auto;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }

    
    .h35 {
        height: auto;
    }

    .main_content aside {
        display: block;
        margin: 0;
        padding: 0 2rem;
        max-width: 100%;
        min-width: 100%;
    }

    .aside-form {
        height: auto;
        padding: 1rem;
    }

    .aside_article {
        margin-bottom: 1rem;
    }

    .aside_title {
        font-size: 1.4rem;
    }

    .contact-us input,
    .contact-us select {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 1rem;
        height: 35px;
    }

    .select-wrap::before {
        right: 6px;
        top: 6px;
    }

    .contact-us_button-text {
        color: #F1F1F1;
        text-align: center;
        padding-left: 0;
    }

    .contact-us button {
        max-width: 100%;
        min-width: 100%;
        margin: 0.5rem 0;
    }

    .aside_article-text {
        font-size: 1rem;
    }

    .aside_article-link {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .footer {
        height: auto;
        background-color: #292E33;
        border-top: 8px solid #AE4B5D;
        padding: 1rem 2rem;

    }

    .footer_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .footer-title_1,
    .footer-title_2,
    .footer-title_3 {
        max-width: 100%;
        margin: 0.5rem auto 1.5rem;
    }

    .footer-title_1 h2,
    .footer-title_2 h2,
    .footer-title_3 h2 {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 7px;
        text-align: center;
        font-size: 1.3rem;
    }

    .footer-title_1 h3,
    .footer-title_2 h3,
    .footer-title_3 h3 {
        font-size: 1.1rem;
    }

    .footer-title_Item-1 span,
    .footer-title_Item-3 span,
    .footer-title_Item-2 span,
    .footer-title_Item-3 a {
        font-size: 0.9rem;
        letter-spacing: 0.02em;
    }

    .footer-CHERRY {
        font-size: 1.3rem;
    }

    .header_search,
    .main_nav-container,
    .main_article,
    .mobile-form {
        display: none;
    }

    .main_nav {
        position: relative;
    }

    .menu {
        display: block;
        position: absolute;
        top: 6px;
        right: 2rem;
        z-index: 5;
    }

    .sandw {
        width: 2.5rem;
        height: 2.5rem;
    }

    .menu .menu__span {
        height: 1px;
        border-top: 3px solid #ffffff;
        position: relative;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }

    .menu .span1 {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .menu .span2 {
        top: 12px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .menu.active .span1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 11px;
    }

    .menu.active .span2 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 5px;
    }

    .menu.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu.active+ul {
        position: absolute;
        display: block;
        background-color: #95161F;
        z-index: 4;
        top: 35px;
        left: 0;
        width: 100%;
    }

    .mobile-search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 1rem;

    }

    .mobile-search input {
        width: 70%;
        height: 35px;
        background-color: #24272d82;
        border: 1px solid #ffffff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding-left: 8px;
        padding-top: 1px;
        margin-left: 35px;
    }

    .mobile-input_field {
        font-family: "arial-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left;
        color: #5B636E;
    }

    .mobile-search button {
        max-width: 36px;
        min-width: 36px;
        height: 35px;
        background-color: #AE4B5D;
        border: 1px solid #ffffff;
        margin-left: 7px;
        border-radius: 5px;
    }

    .mobile-search i {
        color: #ffffff;
    }

    .mobile-nav {
        display: block;
        margin: 1rem;
    }

    .main_nav li {
        margin: 1rem;
        padding: 0;
    }

    .main_nav li a {
        font-family: "arial-bold";
        font-style: normal;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 25px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        color: #FFFFFF;
        margin: 0;
        text-decoration: none;
        letter-spacing: 0.02em;
    }

}

@media only screen and (max-width : 435px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width : 320px) {
    html {
        font-size: 10px;
    }
}