.wrapper{
    width: 50rem;
    margin: 5rem auto;
    padding: 10px 20px;
}
body{
    background-color: rgba(137, 43, 226, 0.568);
}
.item{
    max-width: 10rem;
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    overflow: hidden;
}
.example_img{
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}